@use "reset";

body {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  max-width: 120ch;
  margin: 0 auto;
  padding: 1ch;
}

body > header {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  border-right: 4px solid green;

  margin-bottom: 16px;
  padding-right: 8px;
}

body > header > a {
  font-size: 16px;
}

a {
  color: green;
  transition: color 0.1s linear;
  &:visited {
    color: darkgreen;
  }
  &:hover,
  &:active {
    color: limegreen;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.lambda-home > a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
    color: limegreen;
  }
}

.lambda-icon {
  height: 32px;
  width: 32px;
  background: radial-gradient(
    circle at 10% 10% in hsl,
    limegreen 0,
    green 100%
  );
  border: 1px solid transparent;
  border-image: radial-gradient(
      circle at 15% 15% in hsl,
      #a9e1a9 0,
      #468e46 100%
    )
    1;
  color: white;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: initial;
  font-size: 12px;
  font-size: 24px;
}

li + li {
  margin-top: 8px;
}

ol {
  list-style: decimal-leading-zero;
}

.spacer {
  flex: 1;
}

.non-interactive {
  user-select: none;
}

.error {
  color: red;
  border-left: 4px solid red;
  padding: 4px 8px;
}

.success {
  color: green;
  border-left: 4px solid green;
  padding: 4px 8px;
}

.stories {
  .meta {
    display: flex;
    gap: 8px;
  }
}