@use "reset";
@import 'shevy';

@include headings;
@include body;
@include content;

body {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  max-width: 120ch;
  margin: 0 auto;
  padding: 1ch;
}

body {
  & > header {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: bs();
    border-right: 4px solid green;
  
    margin-bottom: 16px;
    padding-right: 8px;
  }
  header > a {
    font-size: bs(0.42);
  }
}

main {
  h1 {
    font-size: 1.75em;
    font-weight: 300;
    margin-bottom: 0.4em;
  }
  p {
    margin-bottom: 0.5em;
  }
}

a {
  color: green;
  transition: color 0.1s linear;
  &:visited {
    color: darkgreen;
  }
  &:hover,
  &:active {
    color: limegreen;
  }
}

form {
  &, & label {
    display: flex;
    flex-direction: column;
  }

  label + label {
    margin-top: bs(0.5);
  }

  button {
    margin-top: bs();
  }
  
}
.lambda-home {
  a::after {
    content: "σ";
    font-variant: super;
    color: currentColor;
    padding-left: 1px;
  }
  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  &:hover .lambda-text,
  &:hover a {
    color: limegreen;
  }

  &:hover .lambda-text {
    text-decoration: underline;
  }
}

.lambda-text {
  transition: inherit;
}

.lambda-icon {
  height: 32px;
  width: 32px;
  background: radial-gradient(
    circle at 10% 10% in hsl,
    limegreen 0,
    green 100%
  );
  border: 1px solid transparent;
  border-image: radial-gradient(
      circle at 15% 15% in hsl,
      #a9e1a9 0,
      #468e46 100%
    )
    1;
  color: white;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: initial;
  line-height: initial;
  margin-right: 8px;
}

li + li {
  margin-top: 8px;
}

ol {
  list-style: decimal-leading-zero;
}

.spacer {
  flex: 1;
}

.non-interactive {
  user-select: none;
}

.error {
  color: red;
  border-left: 4px solid red;
  padding: 4px 8px;
}

.success {
  color: green;
  border-left: 4px solid green;
  padding: 4px 8px;
}
.meta {
  display: flex;
  gap: 8px;
}

.stories, .comments {
  li > div:nth-of-type(2) {
    font-size: bs(0.55);
  }
}

.comments {
  li {
    list-style: none;
  }

  padding-left: 0;
  margin-top: bs();
}
